# Painel Administrativo
ADMIN_USER=admin
ADMIN_PASS=admin123
SESSION_SECRET=

# Configurações do Resend (E-mail de Confirmação)
# RESEND_API_KEY=
# RESEND_FROM_EMAIL=onboarding@resend.dev

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
